/* === ESTILOS Y COLORES BASE === */

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0%;
  color: #ff8c00;
  font-size: 25px;
}

.auth-container {
  background: white;
  padding-top: 3%;
  border-radius: 10px;
  width: 26%;
  max-width: 30%;   /* 游늷 Se adapta al ancho del m칩vil */
  margin: auto;    /*margenes al rededor de la caja*/
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  /* M치rgenes internas (padding) */
  padding-top: 10px;     /* arriba */
  padding-right: 20px;   /* derecha */
  padding-bottom: 15px;  /* abajo */
  padding-left: 20px;    /* izquierda */


}

.status-box {
  color: #c8f2c8;        /* verde claro tipo "limegreen" */
  font-size: 0.8rem;     /* letra peque침a */
  margin-top: 1%;       /* margen peque침a arriba */
  margin-bottom: 1%;   /* margen mediana abajo */
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

/*--botones Iniciar sesion y Registrarse*/
.button-group button {
  width: 48%;   /*Ancho de los botones*/
  padding: 2%;
  
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1px;
}

.active-btn {
  background: #ff8c00;
  color: white;
}

.inactive-btn {
  background: #ccc;
  color: black;
}

input {         /*Entradas Usuario y Contrase침a*/
  width: 90%;
  padding: 10px;
  margin-top: 2%;
  border-radius: 14px;
  border: 1px solid #ccc;
}

.action-btn {
  width: 90%;          /* ocupa m치ximo el 90% del ancho de la pantalla */
  max-width: 400px;    /* nunca m치s grande que 400px */
  padding: 2%;
  margin-top: 6px;     /*Margen arriba de los botones*/
  background: #ff8c00;
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-weight: bold;
}
.footer {
  color: #4f4b4b;          /* texto claro */
  background-color: #c3bcbc;  /* fondo oscuro */
  padding: 10px;
  text-align: center;
  font-size: 65%;
}






/* ================================================================
   游님 RESPONSIVE (Tabla / Celular)
================================================================ */

/* --- Tablets: Menos de 768px --- */
@media (max-width: 768px) {

  h1 {
    font-size: 22px;
  }

  .auth-container {
    width: 70%;
  }

  .button-group {
    flex-direction: column;   /* 游늷 Botones uno debajo del otro */
    gap: 10px;
  }

  .button-group button {
    width: 100%;
  }

  input {
    width: 95%;
  }
}

/* --- Celulares peque침os: Menos de 480px --- */
@media (max-width: 480px) {

  h1 {
    font-size: 20px;
    margin-top: 20px;
  }

  .auth-container {
    width: 90%;
    padding: 15px;
  }

  .action-btn {
    font-size: 14px;
    padding: 8px;
  }

  input {
    padding: 8px;
    font-size: 14px;
  }

  .button-group button {
    font-size: 14px;
    padding: 5%;
  }
}